*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-size: 13px;
    font-family: "Helvetica", "Arial", sans-serif;
}

#clients
{
    list-style-type: none; margin: 0; padding: 0;
}

#clients li
{
    padding: 5px 10px;
}

#clients li:nth-child(odd)
{
    background: #eee;
}

#table
{
    background: #7a5131;
    width: 100%;
    height: 22rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    padding-top: 3rem;
}

#mainDeck
{
}

.deckSize
{
    margin: 0 auto;
    font-size: 1.5rem;
}

#playedCards
{
    position: relative;
    width: 15rem;
    height: 15rem;
}

#playedCards .card
{
    position: absolute;
    left: 20%;
    top: 5%;
}

.card:hover 
{
    transform: scale(1.1);
 	transition: ease-in-out 0.15s;
}

.deck-cards .card
{
    display: inline-block;
}

.played-card
{
}

.deck
{
    border: 4px solid #000;
    padding: 5px;
    background: #ccc;
    position: relative;
}

.current-player
{
    border-color: #f00;
}

.card
{
    width: 4rem;
    height: 6rem;
    display: inline-block;
    margin: 0.5rem;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Arial Black", "Arial", sans-serif;
    border: 3px solid #fff;
    border-radius: 0.5rem;
    text-align: center;
    position: relative;
    box-shadow: -0.1rem -0.1rem 0.1rem rgba(0, 0, 0, 0.3), 0.2rem 0.2rem 0.2rem #000;
	transition: ease-in-out 0.15s;
}

.card-inner
{
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 80%;
    border-radius: 50%;
    background: #fff;
    transform: rotate(40deg);
}

.card-face-center, .card-face-top, .card-face-bottom
{

}

.card-face-center
{
    position: relative;
    margin: 21% auto 0 auto;
    font-size: 2.5rem;
    height: 4rem;
    line-height: 4rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

.card-face-top
{
    position: absolute;
    margin-left: 0.25rem;
    left: 0;
    top: 0;
}

.card-face-bottom
{
    position: absolute;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}

.own-deck .card, #table .card
{
    width: 8rem;
    height: 12rem;
    border-width: 5px;
}

.card-face-top, .card-face-bottom
{
    font-size: 1.5rem;
    line-height: 1.5rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
}

.own-deck .card, #table .card
{
    border-radius: 1rem !important;
}

.own-deck .card-inner, #table.card-inner
{
    border-width: 0.7rem;
}

.own-deck .card-face-top, #table .card-face-top, .own-deck .card-face-bottom, #table .card-face-bottom
{
    font-size: 2.5rem;
    line-height: 2.5rem;
    -webkit-text-stroke-width: 2px;
}

.card-num[data-face="6"], .card-num[data-face="9"]
{
    text-decoration: underline;
}

.own-deck .card-face-center, #table .card-face-center
{
    font-size: 5rem;
    height: 8rem;
    line-height: 8rem;
    -webkit-text-stroke-width: 4px;
}

.own-deck .card-inner, #table .card-inner
{
    border-width: 0.7rem;
}

.card-color-chooser
{
    position: absolute;
    width: 50%;
    height: 50%;
}

.card-color-chooser-red
{
    top: 0;
    left: 0;
    background: rgba(196, 32, 56, 0.7);
    border-radius: 0.5rem 0 0 0;
}

.card-color-chooser-green
{
    top: 0;
    right: 0;
    background: rgba(59, 153, 56, 0.7);
    border-radius: 0 0.5rem 0 0;
}

.card-color-chooser-blue
{
    bottom: 0;
    left: 0;
    background: rgba(0, 86, 166, 0.7);
    border-radius: 0 0 0.5rem 0;
}

.card-color-chooser-yellow
{
    bottom: 0;
    right: 0;
    background: rgba(239, 211, 50, 0.7);
    border-radius: 0 0 0 0.5rem;
}

.card-deck-chooser
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 0.5rem;
    text-align: center;
    padding-top: 5rem;
    color: #000;
    font-size: 1.8rem;
    -webkit-text-stroke: 1px #fff;
}

.deck-chooser-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: ease-in-out 0.3s;
}

.deck-chooser-overlay:hover
{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.75);
    transition: ease-in-out 0.3s;
}

.card-black
{
    background: #000;
}

.card-red
{
    background: #C42038;
}

.card-red .card-face-center
{
    color: #C42038;
}

.card-green
{
    background: #3B9938;
}

.card-green .card-face-center
{
    color: #3B9938;
}

.card-blue
{
    background: #0056A6;
}

.card-blue .card-face-center
{
    color: #0056A6;
}

.card-yellow
{
    background: #EFD332;
}

.card-yellow .card-face-center
{
    color: #EFD332;
}

.card-secret
{
    background: #999;
}

@keyframes next-player-deck-highlight
{
    0% {border-color: #fff;}
    50% {border-color: #f88}
    100% {border-color: #fff;}
}

.own-deck .card:hover, #mainDeck:hover
{
    cursor: pointer;
}

.own-deck.current-player
{
    animation: next-player-deck-highlight 1s infinite;
}

.toggled
{
    background: #0f0;
}

@keyframes msgBoxBlink
{
    0% {border-color: #fff;}
    50% {border-color: #f00;}
    100% {border-color: #fff;}
}

#msgBox
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 9px double #fff;
    animation: msgBoxBlink 0.2s infinite;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
    display: none;
}
